[*.cs]

# SA1003: Symbols should be spaced correctly
dotnet_diagnostic.SA1003.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = suggestion

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none
